html {
    scroll-behavior: smooth;
}

body {
    font-family: Poppins;
    background-image: linear-gradient(to bottom right, #192024, #3f4953);
    background-attachment: fixed;
    user-select: none;
}

main {
    color: gold;
    display: flex;
    flex-flow: column wrap;
}

body::-webkit-scrollbar {
    display: none;
}

@keyframes pulse {
    70% {
        color:goldenrod;
    }
}

#Top {
    padding: 5px 0px;
    border-bottom:solid;
    display: flex;
    justify-content: space-around;
}   
#Top--Logo {
        border: double 5px;
        width: 45px;
        height: 45px;
        background-color: goldenrod;
    }

#Top--Social {
    display: inline-flex;
    list-style: none;
    align-items: center;
} 
#Top--Social li {
      padding:0px 15px;
  }
#Top--Social li i {
        color: black;
    }

.hover--highlight :hover {
    color: azure !important;
}
.hover--highlight :hover{
    color: azure !important;
}


#container--photo{
    justify-content: center;
}
#Profile {
    background-image: url(./images/dippo.jpeg);
    background-size: 300px;
    background-position: 20% 35%;
    width: 20vw;
    height: 20vw;
    margin: 0 40%;
    border-radius:50%;
    transition: all .1s;
}

#Name h1{
    text-align:center;
    margin:5px 0px 10px 0px;
}

#Container {
    text-align: center;
}
#Container i {
    display: inline-flex;
    transition: transform 1s, color 1.5s;
    animation: pulse 1s infinite;
    animation-direction:alternate;
}
#Container--Text {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: color 2s, opacity .5s, height 1s;
}
.Container--Anim {
    color: azure !important;
    opacity: 1 !important;
    height: 120px !important;
}

.animRotate {
    color: azure;
    transform: rotate(180deg);
}


#Forms{
    display:flex;
    align-content:center;
    justify-content:center;
    
    padding: 20px 0px 40px 0px;
}
#Forms--Email {
    width: 250px;
    height: 25px;
    font-size: 15px;
    border-radius: 10px 0px 0px 10px;
    padding: 1px 10px;
    outline-width: 0;
    border: none;
}
#Forms--Button {
    border: none;
    padding: 1px 10px 1px 10px;
    border-radius: 0px 10px 10px 0px;
    background-color:black;
    color:azure;
    transition:all .2s;
}
#Forms--Button:hover {
    opacity: 9;
    background-color: azure;
    color: black;
}

main {
        border-bottom: solid;
    }

#email {
    text-align: center;
    padding: 5px;

}
    #email a {
        text-decoration: none;
        color: black;
        color: gold;
    }

.strokeme h1:hover {
    text-shadow: -1.5px -1.5px 0 #8b6508, 1.5px -1.5px 0 #8b6508, -1.5px 1.5px 0 #8b6508, 1.5px 1.5px 0 #8b6508;
}


